* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f8e2ef;
    font-family:'Russo One', sans-serif;
    letter-spacing: 0.1em;
}

h1 {
    color: #d45d84;
    font-size: 3vw;
}

p {
    font-size: 1.5vw;
    margin: 35px;
    color:#323333;
    padding: 0px 70px;

}

#mainNav {
    margin: 50px auto 0px
}

#mainNav ul {
    list-style: none;
    text-align: center;
}

#mainNav li {
    display: inline;
    margin: auto 50px;
}

#mainNav a {
    color: #368b9b;
    font-size: 1vw;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 30px auto;
    border: 2px solid #d45d84;
    text-align: center;
    padding: 50px;
}

img {
    max-width: 100%;
    height: auto;
  }

footer p {
    font-size: 12px;
    text-align: center;
    margin: auto 80px;
    line-height: 20px;
}

@media (max-width: 1024px) { 
    p { padding: 0px;
    }
    #mainNav ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 30px);
    }
    
    .item1, .item3 {
        padding-left: 150px;
    }

    .item2, .item4 {
        padding-right: 150px;
    }
}

@media (max-width: 768px) { 
    .item1, .item3 {
        padding-left: 80px;
    }

    .item2, .item4 {
        padding-right: 80px;
    }
 }

 @media (max-width: 630px) { 
    #mainNav ul {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 30px);

    }
    .item1, .item3, .item2, .item4 {
        padding: 0;
    }
 }
